
[submodule "ext/pcg/pcg-cpp"]
	path = ext/pcg/pcg-cpp
	url = https://github.com/imneme/pcg-cpp.git
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json.git
[submodule "ext/stb/stb"]
	path = ext/stb/stb
	url = https://github.com/nothings/stb.git
